.barup-container{
    width: 83.7rem;
    height: 4rem;
    background-color:rgb(74, 74, 214);
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0.25rem 0.80rem;
}

.barup-iconos{
    width:4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0.9rem;
}