.container-ccontrasena{
    height: 38rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container-textfield-ccontrasena{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
}


.container-botones-ccontrasena{
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content:center;
    gap:2rem;
}


.container-botones-ccontrasena button{
    margin-top: 1rem;
    border:none;
    background-color: rgb(104, 43, 43);
    border-radius: 1rem;
    padding: 0.80rem 0.80rem;
    width: 10rem;
    color:white;

}