.slidebar-container{
   background-color: black;
   color:white;
   width: 10rem;
   height: 34.9rem;
   text-align: center; 
   padding:1px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:space-between;
}


.slidebar-container .barra{
   cursor: pointer;
}